@font-face {
  font-family: 'UTM Cafeta';
  src: url('UTM Cafeta.eot');
  src: url('UTM Cafeta.eot?#iefix') format('embedded-opentype'),
       url('UTM Cafeta.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMCafeta';
  src: url('UTMCafeta.svg#UTMCafeta') format('svg'),
       url('UTMCafeta.ttf') format('truetype'),
       url('UTMCafeta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

